@import '../../style/mixins/index.scss';

@include b(slide) {
	height: 375rpx;
}

@include b(slide-image) {
	width: 100%;
	height: 100%;
}

// search 
@include b(search) {
	position: absolute;
	box-sizing: border-box;
	width: 750rpx;
	padding: 40rpx 40rpx;
	z-index: 5;
}

@include b(search-container) {
	display: flex;
	height: 80rpx;
	padding: 25rpx 30rpx;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #fff;
	@include e(input) {
		position: absolute;
		left: 170rpx;
		top: 40rpx;
		height: 80rpx;
		padding: 0 20rpx;
	}
}

@include b(search-location) {
	width: 100rpx;
	height: 30rpx;
	position: relative;
	line-height: 30rpx;
	display: flex;
	border-right: solid 2rpx #dedede;
	.iconfont {
		margin-left: 20rpx;
		margin-top: -8rpx;
		font-size: 40rpx;
	}
}

@include b(list-title) {
	font-size: 36rpx;
	padding: 30rpx 40rpx 0rpx 50rpx;
}

// price
@include b(price) {
	padding: 20rpx 60rpx;
	display: flex;
}

@include b(price-title) {
	font-size: 32rpx;
	margin-right: 100rpx;
	line-height: 1.5;
	@include e(location) {
		border-bottom: 2rpx solid $uni-border-color;
	}
}

@include b(price-content) {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	line-height: 1.8;
}

@include b(price-block) {
	@include e(number) {
		font-size: 36rpx;
		@include m(grow) {
			color: #F95640;
			font-weight: bold;
			display: inline-block;
			transform: scaleY(1.3);
		}
		@include m(fall) {
			color: #3cc51f;
			font-weight: bold;
			display: inline-block;
			transform: scaleY(1.3);
		}
		@include m(desc) {
			display: inline-block;
			transform: scale(0.6, 1);
		}
		@include m(unit) {
			margin-left: 5rpx;
			font-size: $uni-font-size-base;
		}
	}
	@include e(title) {
		color: #999;
	}
}

// recommend
@include b(recommend) {
	display: flex;
	width: 100%;
	height: 480rpx;
	padding: 40rpx;
	box-sizing: border-box;
	justify-content: space-between;
	flex-wrap: wrap;
	@include b(recommend-item) {
			min-width: 50%;
			padding: 5rpx;
			box-sizing: border-box;
		image {
			width: 100%;
			height: 100%;
		}
	}
}