@charset "UTF-8";
@import './mixins/index.scss';
@import './iconfont.scss';

/*每个页面公共css */
page {
    line-height: 1.2;
    font-family: -apple-system,BlinkMacSystemFont,SF UI Text,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif;
    color: #222;
    font-size: 24rpx;
    -webkit-font-smoothing: antialiased; 
    height: 100%;
}
page * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
}
.iconfont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}